#welcome-section {
    // welcome section
    height: 100vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("https://s9.postimg.org/69cw54dzj/bookshelf.jpg");
    @media(max-width: 768px) {
        background-attachment: scroll;
    }
    // welcome section filter
    .welcome-section-filter {
        height: inherit;
        background: rgba(10, 10, 10,0.3);
        overflow: hidden;
        z-index: 2;
    }
    .welcome-section-tagline {
        font-family: Lobster;
        text-align: center;
        padding-top: 25vh;
        font-size: 5em;
        color: white;
        @media(max-width: 768px) {
            padding-top: 35vh;
            font-size: 2em;
        }
    }
    .welcome-section-title {
        text-align: center;
        margin-top: -20px;
        font-size: 8em;
        color: white;
        @media(max-width: 768px) {
            font-size: 4.5em;
        }
        @media(max-width: 374px) {
            font-size: 4em;
        }
    }
}
//
//
// about section
//
//
#about-section {
    //
    text-align: center;
    padding: 100px 0;
    //
    .about-section-title {
      text-align: center;
      // margin-top: -20px;
      font-size: 6em;
      @media(max-width: 768px) {
          font-size: 3.5em;
      }
      @media(max-width: 374px) {
          font-size: 3em;
      }
    }
    .about-section-description {

    }
    p {
      font-size: 16px;
    }
}
//
//
// services section
//
//
#services-section {
    //
    // background image
    height: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("https://s9.postimg.org/wo6bbbwlr/services.jpg");
    @media(max-width: 768px) {
        background-attachment: scroll;
    }
    //
    text-align: center;
    color: white;
    //
    .services-section-filter {
        height: auto;
        padding: 100px 0;
        background: rgba(44, 62, 80,0.8);
        overflow: hidden;
        z-index: 2;
    }
    //
    .services-section-title {
        text-align: center;
        margin-top: -20px;
        font-size: 6em;
        @media(max-width: 768px) {
            font-size: 3.5em;
        }
        @media(max-width: 374px) {
            font-size: 3em;
        }
    }
    .services-section-tagline {
        font-family: Lobster;
        text-align: center;
        font-size: 3em;
        @media(max-width: 768px) {
            font-size: 1.5em;
        }
    }
}
//
//
// services container
//
//
#services-container {
    background-color: black;
    color: white;
    padding: 80px 0;
    .thumbnail {
        color: white;
        background-color: transparent !important;
        border-color: transparent !important;
    }
    h4 {
        // font-family: Lobster;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
}
//
//
// contact section
//
//
#contact-section {
    //
    // background image
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("https://s9.postimg.org/vvz1ye30v/pencil.jpg");
    @media(max-width: 768px) {
        background-attachment: scroll;
    }
    //
    color: white;
    //
    .contact-section-filter {
        height: inherit;;
        padding: 50px 0;
        background: rgba(231, 76, 60,0.8);
        overflow: hidden;
        z-index: 2;
    }
    .contact-section-title {
      text-align: center;
      // margin-top: -20px;
      font-size: 6em;
      @media(max-width: 768px) {
          font-size: 3.5em;
      }
      @media(max-width: 374px) {
          font-size: 3em;
      }
    }
    .contact-section-tagline {
        font-family: Lobster;
        text-align: center;
        font-size: 3em;
        @media(max-width: 768px) {
            font-size: 1.5em;
        }
    }
}
//
//
// footer
//
//
#footer {
  background-color: black;
  color: white;
  padding: 20px 0;
  .john316 {
    text-decoration: bold;
    color: white;
  }
  a:hover {
    font-size: 16px;
  }
}
