// #welcome {
//     height: 100vh;
//     background-position: 50% 50%;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-size: cover;
//     background-image: url("../img/bookshelf.jpg");
//     .image-filter{
//         background: rgba(10, 10, 10,0.3);
//         overflow: hidden;
//         z-index: 2;
//         height: inherit;
//     }
//     @media(max-width: 768px) {
//         background-attachment: scroll;
//     }
//     .welcome--tagline {
//         font-family: Lobster;
//         text-align: center;
//         padding-top: 22vh;
//         font-size: 5em;
//         color: white;
//         @media(max-width: 768px) {
//             padding-top: 35vh;
//             font-size: 2em;
//         }
//     }
//     .welcome--title {
//         text-align: center;
//         margin-top: -10px;
//         padding-top: 0;
//         font-size: 10em;
//         color: white;
//         @media(max-width: 768px) {
//             font-size: 4.5em;
//         }
//         @media(max-width: 374px) {
//             font-size: 4em;
//         }
//         span {
//             font-weight: lighter;
//         }
//     }
// }
//
// //
// //
// //
// //
// #about--section {
//   padding-top: 100px;
//   .about--container {
//     p {
//       font-size: 18px;
//     }
//
//   }
// }
//
//
// //
// //
// //
// //
// //
//
// #services--section {
//     background-color: white;
//     padding: 100px 0;
//
//     .services--title {
//
//         color: black;
//
//         padding: 40px 0;
//     }
//     .services--container {
//         .service--title {
//             text-align: center;
//             color: black;
//             font-size: 2.0em;
//             font-weight: normal;
//         }
//         span {
//             color: #3C92CA;
//             font-family: helvetica;
//             font-weight: 100;
//             font-size: 1em;
//         }
//     }
//     a:hover {
//         text-decoration: none;
//         // background-color: red !important;
//     }
// }
// #apps--section {
//     background-color: #2c3e50;
//     padding: 100px 0;
//     .apps--title {
//         font-family: helvetica;
//         font-weight: bold;
//         color: white;
//     }
//     .apps--container {
//         text-align: center;
//         .app--container {
//             padding: 50px 0;
//             .app--title {
//                 color: white;
//                 font-size: 1.5em;
//                 font-weight: lighter;
//             }
//             .app--image {
//                 width: 16em;
//             }
//             .store-icon {
//                 width: 4em;
//             }
//         }
//     }
// }
// #contact--section {
//     // padding: 100px 0;
//     padding-bottom: 100px;
//     .contact--title {
//         color: black;
//         padding: 40px 0;
//     }
// }
//
// //
// //
// //
// //
// #footer {
//   height: 200px;
//   padding-top: 80px;
//   line-height: 20px;
//   background-color: black;
//   color: white;
// }
